@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

@layer theme {
	:root {
		@variant light {
			--color-background: oklch(1 0 0);
			--color-foreground: oklch(0.148 0.004 228.8);
			--color-card: oklch(1 0 0);
			--color-card-foreground: oklch(0.148 0.004 228.8);
			--color-popover: oklch(1 0 0);
			--color-popover-foreground: oklch(0.148 0.004 228.8);
			--color-primary: oklch(0.511 0.096 186.391);
			--color-primary-foreground: oklch(0.984 0.014 180.72);
			--color-secondary: oklch(0.967 0.001 286.375);
			--color-secondary-foreground: oklch(0.21 0.006 285.885);
			--color-muted: oklch(0.963 0.002 197.1);
			--color-muted-foreground: oklch(0.56 0.021 213.5);
			--color-accent: oklch(0.511 0.096 186.391);
			--color-accent-foreground: oklch(0.984 0.014 180.72);
			--color-destructive: oklch(0.577 0.245 27.325);
			--color-border: oklch(0.925 0.005 214.3);
			--color-input: oklch(0.925 0.005 214.3);
			--color-ring: oklch(0.723 0.014 214.4);
			--focus: oklch(0.511 0.096 186.391);
			--success: oklch(0.511 0.096 186.391);
			--color-warning: #dca114;
			--color-warning-foreground: #ffffff;
			--color-warning-soft: #fff4db;
			--color-warning-soft-foreground: #dca114;
			--color-overlay: oklch(0.45 0 0 / 50%);
		}

		@variant dark {
			--color-background: oklch(0.148 0.004 228.8);
			--color-foreground: oklch(0.987 0.002 197.1);
			--color-card: oklch(0.218 0.008 223.9);
			--color-card-foreground: oklch(0.987 0.002 197.1);
			--color-popover: oklch(0.218 0.008 223.9);
			--color-popover-foreground: oklch(0.987 0.002 197.1);
			--color-primary: oklch(0.437 0.078 188.216);
			--color-primary-foreground: oklch(0.984 0.014 180.72);
			--color-secondary: oklch(0.274 0.006 286.033);
			--color-secondary-foreground: oklch(0.985 0 0);
			--color-muted: oklch(0.275 0.011 216.9);
			--color-muted-foreground: oklch(0.723 0.014 214.4);
			--color-accent: oklch(0.437 0.078 188.216);
			--color-accent-foreground: oklch(0.984 0.014 180.72);
			--color-destructive: oklch(0.704 0.191 22.216);
			--color-border: oklch(1 0 0 / 10%);
			--color-input: oklch(1 0 0 / 15%);
			--color-ring: oklch(0.56 0.021 213.5);
			--focus: oklch(0.437 0.078 188.216);
			--success: oklch(0.437 0.078 188.216);
			--color-warning: #dca114;
			--color-warning-foreground: #ffffff;
			--color-warning-soft: oklch(0.35 0.06 86);
			--color-warning-soft-foreground: #fff4db;
			--color-overlay: oklch(0.1 0 0 / 60%);
		}
	}
}
